<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
    <title>Simple Chatbot</title>
    <link rel="stylesheet" href="static/styles.css">
    
</head>    
    <body>
            
        
            
            <form method="POST" class="container">
                <img src="static/user.jpg" alt="Avatar" class="right">
                <input name="text" >
                <input type="submit" value="send">
            </form>
        
        <div class="container darker">
             <img src="static/bot.png" alt="Avatar" class="left"> 
            <p>{{answer}}</p>
            <span class="time-left"></span>
        </div> 
        
          
          <!-- <div class="container darker" >
            <img src="static/user.jpg" alt="Avatar" class="right">
            <input type="text" name="text" id="send" method="POST">
            <button name="send" id="send" type="submit" method="POST"></button>
            <span class="time-left">11:01</span>
          </div>
          <div class="container">
            <img src="static/bot.png" alt="Avatar">
            <p>{{answer}}</p>
            <span class="time-right">11:00</span>
          </div> -->

    </body>
</html>

